.iframe-rwd {
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;
  overflow: hidden;
}

iframe {
  width: 60%;
  height: 350;
  @apply mx-auto;
}

@screen md {
  iframe {
    width: 100%;
    height: 250;
  }
}

.location__description {
  @apply font-bold text-xl mb-4;
}

.location__image {
  /* max-height: 1013px; */
  max-width: 771px;
  @apply w-full;
  margin-bottom: 40px;
}
