.index {
    padding: 8px 16px;
}
.index:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.index-active {
    background-color: #0081a8;
    color: white;
    border-radius: 5px;
}

.posts hr {
    color: rgb(192, 192, 192);
    margin: 1.5rem 0 0;
}

.postlist {
    padding: 20px 40px;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;

    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 2px solid rgb(130, 130, 130);
        transition: transform 0.2s;
    }

    &:after {
        transform: translate(3px, 3px);
    }

    &:before {
        transform: translate(-3px, -3px);
    }
    &:hover {
        &:after,
        &:before {
            transform: translate(0);
        }
    }
}
