.heroImage-container {
  padding-top: 0;
  padding-bottom: 1rem;
}
.heroImage {
  height: 61.8vh;
  max-height: 250px;
  width: 100%;
}
.post {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 1rem;
  font: normal 300 1em/1.5em "Ubuntu", sans-serif;
}

.post-body h1,
h2,
h3,
h4,
h5 {
  margin-top: 0.75em;
  margin-bottom: 5px;
}

.post-body p {
  justify-content: center;
  margin-bottom: 0.5em;
}
.post-body p:last-child {
  margin-bottom: 0;
}

.post-body h1 {
  font-size: 35px;
  font-weight: bolder;
}

.post-body h2 {
  font-size: 30px;
  font-weight: bolder;
}

.post-body h3 {
  font-size: 25px;
  font-weight: bolder;
}

.post-body h4 {
  font-size: 22px;
  font-weight: bolder;
}

.post-body h5 {
  font-size: 18px;
  font-weight: bolder;
}

.post-body h6 {
  font-size: 18px;
  font-weight: bolder;
}

.post-body blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  text-align: center;
  position: relative;
}
.post-body blockquote:before {
  content: "\201C";
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em "PT Sans", sans-serif;
  color: #666;
  text-align: center;
}
.post-body blockquote:after {
  content: "\2013 \2003"attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}

.post-body a {
  color: #e74c3c;
  text-decoration: underline;
  word-wrap: break-word;
}

.post-body img {
  margin: 0;
}

.post hr {
  color: rgb(192, 192, 192);
  padding: 1.5em 0 0.5em;
  margin: 1em 0;
}
.post-body ul {
  list-style-type: disc;
  margin-left: 40px;
}

.post-body iframe {
  width: 100%;
  height: 350;
  @apply mx-auto;
}

.file-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(80px, 100px));
}

.video iframe {
  display: initial;
  width: 100%;
}

.contentImage-container {
  padding-top: 0;
  padding-bottom: 1rem;
}
.contentImage {
  max-height: 500px;
  width: 80%;
  @apply mx-auto;
}

.contentImage__slider {
  @apply relative;
}
